* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #191919;
    --text: #fff;
    --textcolor1: #00FFFF;
    --textcolor2: #66FF00;
    --blue: #00FFFF;
}

input[type="checkbox"]:checked~#menu {
    display: block;
}


body {
    background: var(--black);
}

header {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
}


#logo h2 {
    color: var(--blue);
    font: 2em "Chakra Petch", sans-serif, bold;
    text-transform: uppercase;
}

#logo span {
    color: orange;
}

.logo i {
    font-size: 1.8em;
}

.sidbars {
    z-index: 2;
    width: 100%;
    max-width: 420px;
    position: fixed;
    background: #15f4ee;
    top: 0;
    right: -100%;
    transition: .5s;
    height: 100vh;
}


.logo,
.sidbars i {
    color: var(--text);
}

.barslogo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 40%;
    height: 20%;
    margin: 30px auto;

}


#menu {
    min-width: 260px;
    width: 100%;
}

#menu li {

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    padding: 10px
}

#menu li a {

    text-decoration: none;
    font: 1.2em "Chakra Petch", sans-serif, bold;
    color: #000;
}

#menu i {
    margin: 0 10px 0 10px;
}

.closed {
    height: 50px;
    font-size: 30px;
    text-align: right;
    padding: 10px;

    i {
        cursor: pointer;
    }
}

#bars {
    cursor: pointer;
    display: none;
}

#color {
    cursor: pointer;
    display: none;
}

#bars:checked~.sidbars {
    right: 0 !important;
}


.desktop {
    display: none;
}

#content {
    padding: 20px;

}

.maincontents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.right {
    text-align: center;
}

.right h1 {
    color: var(--text);
    font: 2em "Chakra Petch", sans-serif;
    font-weight: 800;

}

.right h1 span {
    color: var(--textcolor1);
    font: 1.2em "Chakra Petch", sans-serif;

}

.right h4 {
    color: var(--textcolor1);
    font: 1.3em "Chakra Petch", sans-serif, bold;
    margin-left: 20px;
    margin-bottom: 10px;
}

.right h4 span {

    color: var(--text);
    font: 1.3em "Chakra Petch", sans-serif, bold;
    margin-left: 20px;
    margin-bottom: 10px;



}

.right p {
    color: var(--textcolor2);
    font: 1em "Merriweather", serif;


}

.left {
    text-align: center;
    margin: 20px;
    border-radius: 70%;
    width: 100%;

}

.left img {

    box-shadow: 0 0 5px 5px #15f4ee;
    border-radius: 40% 25%;
    width: 50%;
    object-fit: cover;
    margin: auto;
    animation: sekil 30s infinite linear;

}

#skill {
    padding: 20px;
}

#skill h1 {
    color: var(--text);

    text-align: center;
    font: 1.5em "Merriweather", serif;
}

.skills {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.skill-content {
    border-radius: 10px;
    margin: 10px;
    width: 80%;
    height: max-content;
    background: var(--blue);

}

.skill-text {
    width: 100%;
    padding: 5px;
}

.skill-text h2 {
    text-align: center;
    font: 1.2em "Chakra Petch", sans-serif;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}

.skill-text p {
    text-align: center;
    font: 1em "Merriweather", serif;
    margin-bottom: 5px;
    color: #000;
}

.skill-text i {
    font-size: 1em;
    margin-left: 5px
}

#i1 {
    font-size: 1.2em;
    color: #DD4B25;
}

#i2 {
    font-size: 1.2em;
    color: #2862E9;
}

#i3 {
    font-size: 1.2em;
    color: #c0aa07;
}
#portfolio {
    padding: 30px
}
#portfolio h1{
    color: var(--text);

    text-align: center;
    font: 1.5em "Merriweather", serif;
}

.portfolio-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column!important;
    width: 100%;
}
.portf-proje{
    text-align: center;
    padding: 20px;
}
.portf-proje h4{
    font: 1.3em"Merriweather", serif;
    color:var(--text);
    margin: 10px 0;
}
.portf-proje img{
    width: 100%;
  
}
@keyframes sekil {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);

    }

}

@media only screen and (min-width: 768px) {

    .sidbars,
    label {
        display: none;
    }

    #logo h2 {
        color: var(--blue);
        font: 2em "Chakra Petch", sans-serif, bold;
        text-transform: uppercase;
    }

    #logo span {
        color: orange;
    }

    nav {
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    #menu {

        display: block;
    }

    .desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
    }

    .desktop #menu {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .desktop #menu li {

        display: flex;
        justify-content: space-between;
        border: none;
        padding: 10px
    }

    .desktop #menu li a {
        transition: .5s ease;
        color: #00FFFF;
        font-size: 1.4em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .desktop #menu li a:hover{
      transform: translate(0,5px);
        color: #66FF00;
    }
    #content {
        padding: 20px;

    }

    .maincontents {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        padding: 30px;


    }

    .right {
        width: 50%;
        text-align: left;
    }

    .right h1 {
        color: var(--text);
        font: 2em "Chakra Petch", sans-serif;
        font-weight: 800;

    }

    .right h1 span {
        color: var(--textcolor1);
        font: 1.2em "Chakra Petch", sans-serif;

    }

    .right h4 {
        color: var(--textcolor1);
        font: 2em "Chakra Petch", sans-serif, bold;
        margin-left: 0;

    }

    .right h4 span {
        margin-left: 0;
    }

    .right p {
        color: var(--textcolor2);
        font: 1.3em "Merriweather", serif;

    }

    .left {
        margin: 10px;
        border-radius: 70%;
        width: 50%;

    }

    .left img {
        box-shadow: 0 0 5px 5px #15f4ee;
        border-radius: 40% 25%;
        width: 50%;
        object-fit: cover;
        margin: auto;
        margin-left: 20px;
    }

    #skill h1 {
        color: var(--text);

        text-align: center;
        font: 1.6em "Merriweather", serif;
    }

    .skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 40px;

    }

    .skill-content {
        border-radius: 10px;
        margin: 10px;
        width: 50%;
        height: max-content;
        background: var(--blue);
        transition: .5s ease;
    }

    .skill-text {
        width: 100%;
        padding: 5px;
    }

    .skill-text h2 {
        text-align: center;
        font: 1.5em "Chakra Petch", sans-serif;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
    }

    .skill-text p {
        text-align: center;
        font: 1.2em "Merriweather", serif;
        margin-bottom: 5px;
        color: #000;
    }

    .skill-text i {
        font-size: 1.2em;
        margin-left: 5px
    }

    #i1 {
        font-size: 1.2em;
        color: #DD4B25;
    }

    #i2 {
        font-size: 1.2em;
        color: #2862E9;
    }

    #i3 {
        font-size: 1.2em;
        color: #c0aa07;
    }

    .skill-content:hover {
        transform: translate(2px, -20px);

    }

    #portfolio {
        padding: 30px
    }
    #portfolio h1{
        color: var(--text);
    
        text-align: center;
        font: 1.5em "Merriweather", serif;
    }
    
    .portfolio-main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:row!important;
        width: 100%;
    }
    .portf-proje{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .portf-proje{
        text-align: center;
        padding: 20px;
    }
    .portf-proje h4{
        font: 1.3em"Merriweather", serif;
        color:var(--text);
        margin: 10px 0;
    }
    .portf-proje {
        width: 60%;
    }
    .proje-img{
        margin-top: 30px;
    }
    .portf-proje img{
        width: 100%;
        transition: .5s ease;
        border-radius: 5px;
        margin-bottom: 10px;
      
    }
    .portf-proje img:hover{
      transform: scale(1.2);
    }
}